<div class="welcome-container">
    <h1>Welkom bij</h1>
    <img src="resources/media/Logo-Default-SVG.svg" alt="">
</div>

<div class="bg">
    <div class="left"></div>
    <div class="right"></div>
</div>

@code {

}